In [1]:
import pandas as pd

In [2]:
#Read in the csv
cities_df = pd.read_csv('CleanCityData.csv')

#Show preview
cities_df.head()

,Unnamed: 0,City,Country,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Coolum Beach,AU,100,97,-26.53,153.10,63.00,1.99
1,1,Jamestown,US,1,45,42.10,-79.24,88.00,2.21
2,2,Busselton,AU,87,68,-33.65,115.33,46.99,7.83
3,3,Lexington,US,40,69,37.99,-84.48,82.99,13.87
4,4,Paraty,BR,20,73,-23.22,-44.71,71.60,3.36

In [3]:
cities_df.to_json (r'cities.json')